.container {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.container.white {
	padding: 20px;
	background-color: $white;
}