// .doctor-choose_result1,
// .doctor-choose_result2,
// .doctor-choose_result3 {
// 	position: absolute;
// 	display: none;

// 	&.is-active {
		
// 	}
// }

.doctorlist {
		position: relative;
		margin: 50px 0 0 60px;

		li {
			display: list-item;
			margin: 0 0 20px;
			width: 200px;
			text-align: left;

			a {
				color: $font-color;
			}

			span {
				margin-left: 7px; 
				font-size: 12px;
				color: $semidark-gray;
			}
		}

		&:before {
			position: absolute;
			top: -5px;
			left: -45px;
			font-size: 26px;
			color: $dark-gray;
		}
}

.doctorlist__a:before {
	content: "А";
}

.doctorlist__v:before {
	content: "В";
}

.doctorlist__g:before {
	content: "Г";
}

.doctorlist__d:before {
	content: "Д";
}

.doctorlist__i:before {
	content: "И";
}

.doctorlist__k:before {
	content: "К";
}

.doctorlist__l:before {
	content: "Л";
}

.doctorlist__m:before {
	content: "М";
}

.doctorlist__n:before {
	content: "Н";
}

.doctorlist__o:before {
	content: "О";
}

.doctorlist__p:before {
	content: "П";
}

.doctorlist__r:before {
	content: "Р";
}

.doctorlist__s:before {
	content: "С";
}

.doctorlist__t:before {
	content: "Т";
}

.doctorlist__y:before {
	content: "У";
}

.doctorlist__f:before {
	content: "Ф";
}

.doctorlist__h:before {
	content: "Х";
}

.doctorlist__ue:before {
	content: "Э";
}