.dropdown {
  position: relative;
  padding-top: 2px;

  .dropdown-toggle {
    position: relative;
    padding-left: 15px;
    background-color: $white;
    color: black;
    font-size: 14px;
    text-align: left;

    &:focus {
      border: 1px solid $semidark-gray;
    }

    &:before,
    &:after {
      position: absolute;
    }
  }

  .btn-left {
    margin-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
    border-right: 0px;
  }

  .btn-middle {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .btn-right {
    margin-left: 0;
    border-radius: 0 $border-radius $border-radius 0;
  }

  .min {
    width: 260px;
  }

  .mid {
    width: 300px;
  }

  .main {
    width: 440px;
  }

  .doctor-choose {
    width: 404px;
  }

  .main-dropdown__list:after {
    @include icon(ico_arrow_down_s);
    top: 24px;
    right: 18px;
  }

  .main-dropdown__list:before {
    @include icon(ico_arrow_down_s);
    top: 18px;
    right: 18px;
    transform: rotate(180deg);
  }

  .dropdown__region:after,
  .main-dropdown__region:after {
    @include icon(check-in);
    top: 12px;
    right: 18px;
  }
}

.dropdown-alert {
  height: 45px;
  line-height: 45px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  max-height: 500px;
  z-index: 3;
  border: 1px solid $semidark-gray;
  border-radius: $border-radius;
  background-color: $white;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
  overflow: hidden;
  
  li {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    color: black;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    transition: color 0.5s;

    &.choosen {
      color: $blue;
    }

    &:hover {
      background-color: #e3eef5;
    }

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}

.dropdown-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.dropdown__client {
  width: 260px;
}

.dropdown__datepicker {
  width: 176px;

  &:after {
    @include icon(ico_date);
    top: 15px;
    right: 18px;
  }
}

.dropdown__region {
  width: 215px;
}

.dropdown__specialist {
  width: 225px;
}

.dropdown__specialist:after,
.dropdown__client:after {
  @include icon(ico_arrow_down_s);
  top: 21px;
  right: 18px;
}

.dropdown-menu__datepicker {
  width: 300px;
}

.doctor-ticket_adress {
  font-size: 14px;
  font-weight: 600;
}