.header {
  position: relative;
  height: 85px;
  color: $black;
  background-color: $white;
  box-shadow: 0 0 10px 0 #beccd4;

  ul {
    list-style-type: none;
  
    li  {
      float: left;
      padding: 34px 0;

      &:first-child {
        margin: 0 64px 0 0;
        padding: 20px 0;

        &:after {
          @include icon(arrow_right_light);
          position: absolute;
          top: 0;
          left: 250px;
        }
      }

      &:last-child {
        float: right;
        padding: 20px 0;
      }
    }

    &:after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.header_brand {
  @include icon(bw_logotype);
  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.header_city-logo {
  @include icon(gerb-spb);
  float: left;
  margin: 0 9px 0 0;
}

.header_city-name {
  float: left;

  &:hover {
    opacity: 0.6;
  }
}

.header_btn {
  margin: 0 37px 0 0;

  a {
    color: $black;
    font-size: 14px;
    text-transform: uppercase;
  
    &:hover {
      opacity: 0.6;
    }
  }
}

.header_info-text {
  margin: 0 0 10px 0;
  font-size: 13px;
}

.header_phone {
  float: right;
  font-size: 18px;
}

.hero-home .header {
  background-color: transparent;
  color: $white;
  border-bottom: 1px solid #868883;
  box-shadow: none;

  a {
    color: $white;
    border-bottom: underline dashed $white;
  }

  .header_city-name {
    border-bottom: 1px dashed $white;
  }

  .header_brand {
    @include icon(logotype_white);
  }
}