.hero-how_works {
	.little-text {
		margin-top: 70px;
	}
}

.how-feature {
	padding: 0 30px;
	text-rendering: optimizeLegibility;

	h5 {
		margin-bottom: 100px;
		text-align: left;
		font-weight: 600;
		z-index: 2;

		&:before {
			content: "";
			display: block;
			position: absolute;
			margin: -4px -9px;
			width: 30px;
			height: 30px;
			border-radius: 30px;
			background-color: $light-gray;
			opacity: 0.8;
		}
	}

	&:first-child h5:before {
		margin: -4px -10px;
	}

	&:before {
		top:55px;
		left: 120px;
	}

	&:last-child {
		margin: 0;
	}

	&:after {
		@include icon(corner-big-how-works);
		position: absolute;
		right: 0;
		top: 20px;
	}
}

.how-feature__sign:before {
	@include icon(how-feature__sign);
}

.how-feature__search:before {
	@include icon(how-feature__search);
}

.how-feature__time:before {
	@include icon(how-feature__time);
}

.how-feature__visit:before {
	@include icon(how-feature__visit);
}

.how-feature__visit:after {
	display: none;
}