.input-groups {
	position: relative;
	margin: 26px 0 0;

	.little-text {
		margin: 0;
		text-align: left;
	}
}

.input-group {
	width: 100%;
	text-align: left;
	vertical-align: middle;

	&:after {
		display: block;
		clear: both;
		content: "";
	}

	li {
		display: inline-block;
		line-height: 16px;
		margin: 0 16px 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	> li.to-right {
		margin-right: 0;
		float: right;
	}
}

.input-groups:not(.input-groups__doctors) .input-group2 {
	.doctor-ticket {
		margin: 0 0 0 40px;
		width: 512px;
		
	}
}

.input-group3 {
	> li {
		&:first-child,
		&:nth-child(3) {
			margin-right: 0;
		}
	}
}

.input-group1,
.input-group2,
.input-group3 {
	display: none;
}

.input-group.is-active {
	display: block;
}

.hero-result1,
.hero-result2,
.hero-result3 {
	display: none;

	&.is-active {
		display: block;
	}
}

.doctor-ticket {
	width: 500px;
}

.hero-result {
	.input-groups {
		margin: 0;
	}

	.input-group {
		.doctor-ticket {
			float: left;
			width: 300px;
			margin-top: 0;
		}

		.little-text {
			padding-top: 4px;
			line-height: 2px;
			margin-top: 0;
		}
	}
}

.input-group {
	.little-text {
		line-height: 12px;
		margin-top: 0;
	}
}