.menu-list {
	float: left;
	width: 400px;
	padding-top: 6px;
	font-size: 14px;

	li {
		position: relative;
		margin: 23px 0 0;

		&:last-child {
			margin-bottom: 30px;
		}

		&:first-child {
			margin: 30px 0;
		}
	}

	.menu-list_item {
		cursor: pointer;
		
		&:hover {
			opacity: 0.6;
		}

		&.is-active {
			color: $white;

			&:hover {
				opacity: 1;
				cursor: default;
			}
			
			&:before {
				@include icon(blue-list-bg-arrow);
				position: absolute;
				top: -11px;
				left: -17px;
				z-index: -1;
			}
		}	
	}
}

.menu-list.mini {
	width: 330px;
}