.nav-tabs {
  width: 1200px;
  padding: 25px 0 0;
  border-bottom: 1px solid $dark-ambient;
  text-align: center;

  &:after {
    display: block;
    content: "";
    clear: both;
  }

  li {
    position: relative;
    float: left;
    width: 200px;
    font-weight: 600;
    padding-bottom: 12px;

    a {
      color: $font-disabled;
    }
  }

  li:hover,
  li.is-active {
    border-bottom: 2px solid $blue;

    a {
      color: black;
    }
  }
}

.tooltip {
  @include icon(ico_helper);
  position: absolute;
  top: 2px;
  left: 170px;
  cursor: pointer;

  &:hover .tooltip-text {
    display: block;
    opacity: 1;
    transition: opacity 1s;
  }
}

.tooltip-text {
  position: absolute;
  display: none;
  top: 20px;
  left: 20px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  background-color: #c8d9dc;
  border-radius: $border-radius;
  font-size: 11px;
  z-index: +1;
  opacity: 0;
  transition: opacity 1s;
}