.popup-form {
  position: fixed;
  display: none;
  top: 100px;
  z-index: +3;
  margin: 0 auto;
  width: 382px;
  height: 555px;
  padding: 40px;
  border-radius: $border-radius;
  background-color: $bg-color;
  text-align: center;

  input {
    margin: 12px auto 0;
  }

  &.is-active {
    display: block;
  }

  p, h3,
  .little-text {
    text-align: left;
  }

  .doctor-name {
    float: left;
    margin: 10px 5px 0 0;
  }

  .doctor-specialist {
    float: left;
    margin: 12px 0;

    + p {
      float: left;
      margin: 0;
    }
  }

  .little-text {
    padding: 25px 0;
    position: relative;
    margin: 0 30px;

    &:before {
      @include icon(lock-green-form);
      position: absolute;
      top: 18px;
      left: -30px;
    }

    &:after {
      @include icon(ico_date);
      position: absolute;
      top: -87px;
      right:-17px;
    }
  }
}

input {
  position: relative;
  width: 300px;
  height: 46px;
  padding: 19px 15px;
  border: 1px solid $semidark-gray;
  border-radius: $border-radius;
  text-align: left;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-datepicker {
  top: 61px;
  left: 1px;
  width: 300px;
}

.popup_input__sname {
  margin-top: 25px;
}

.exit {
  @include icon(ico-exit);
  position: absolute;
  top: 8px;
  right: 7px;
  cursor: pointer;
}

.popup-background {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.2;
  content: "";

  &.is-active {
    display: block;
  }
}