@font-face {
  font-family: "San Francisco";
  src: url("../assets/SF-UI-Text-Regular.ttf");
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("../assets/SF-UI-Text-Semibold.ttf");
  font-weight: 600;
  font-style:  normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("../assets/SF-UI-Text-Light.ttf");
  font-weight: 200;
  font-style:  normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("../assets/SF-UI-Display-Ultralight.ttf");
  font-weight: 100;
  font-style:  normal;
}