// Colors
$blue: #1d68db;
$light-blue: #3388ff;
$dark-blue: #1650a8;

$gray-blue: #b9c3c7;

$neutral: #3388ff;
$light-neutral: #8479f2;

$dark-green: #559e0d;
$green: #75c20a;
$positive: $green;

$red: #db381d;
$negative: $red;


$bg-color: #e3eef5;
$dark-ambient: #9ab1c4;

$white: white;
$black: black;
$semidark-gray: #8994a3;
$light-gray: #d8dde6;
$dark-gray: #454a52;
$border-radius: 6px;

$footer-bg: #454a52;

$font-color: #1a1a1a;

$btn-hover: #d5e4ed;
$link-hover: #4d7abd;

$font-disabled: #676f7a;

