doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="assets/main.css")
  body
    
    .hero
      .header
        .container
          ul
            li
              a.header_brand(href="localhost:8080")
              .header_city
                .header_city-logo
                a.link-dashed.header_city-name(href="#") Санкт-Петербург
            li.header_btn
              a(href="#") Медучреждения
            li.header_btn
              a(href="#") Врачи
            li
              .header_info-text 24ч  Запись, помощь, справка:
              .header_phone +7 (812) 426-17-27
      .hero-form
        .container
          ul.nav-tabs
            li.is-active Запись и расписание
              .tooltip
                .tooltip-text Всплывающий красивый текст Всплывающий красивый текст Всплывающий красивый текст
            li По направлению
              .tooltip
                .tooltip-text Всплывающий красивый текст Всплывающий красивый текст Всплывающий красивый текст
            li Мои записи
              .tooltip
                .tooltip-text Всплывающий красивый текст Всплывающий красивый текст Всплывающий красивый текст
            
          
    .hero-result.hero-result1.is-active
      .hero-form
        .container  
          .input-groups
            ul.input-group.input-group1.is-active
                li
                  .dropdown
                    button.btn.btn-lg.dropdown-toggle.doctor-choose.main-dropdown__region Район города
                    ul.dropdown-menu.doctor-choose.is-hidden
                      li.btn-lg Калининский район
                      li.btn-lg Петроградский район
                      li.btn-lg Выборгский район
                      li.btn-lg Невский район 
                      li.btn-lg Калининский район
                      li.btn-lg Петроградский район
                      li.btn-lg Выборгский район
                      li.btn-lg Невский район 
                      li.btn-lg Калининский район
                      li.btn-lg Петроградский район
                      li.btn-lg Выборгский район
                      li.btn-lg Невский район 

                li
                  .dropdown
                    button.btn.btn-lg.dropdown-toggle.doctor-choose.main-dropdown__list Поликлиника
                    ul.dropdown-menu.doctor-choose.is-hidden
                      li.btn-lg Калининский район
                      li.btn-lg Петроградский район
                      li.btn-lg Выборгский район
                      li.btn-lg Невский район 
                      li.btn-lg Калининский район
                      li.btn-lg Петроградский район
                      li.btn-lg Выборгский район
                      li.btn-lg Невский район 
                      li.btn-lg Калининский район
                      li.btn-lg Петроградский район
                      li.btn-lg Выборгский район
                      li.btn-lg Невский район 

                li.to-right
                  button.btn.btn-primary.btn-lg.disabled Искать
      .hero-doctor-choose
        .container
          ul.menu-list
            li
              h5 Укажите специализацию
            li.menu-list_item.is-active Терапевт
            li.menu-list_item Акушер-гинеколог
            li.menu-list_item Педиатр
            li.menu-list_item Хирург
            li.menu-list_item Невролог
            li.menu-list_item Офтальмолог
            li.menu-list_item ЛОР
            li.menu-list_item Стоматолог
            li.more
              a.link-dashed показать больше
          ul.doctors-item-list
            li
              h5 Выберите врача и время
            li
              ul.doctor-item-list.col.col-md8
                li
                  ul.doctor-item
                    li.to-left.doctor-pic
                    li.to-left
                      .doctor-name Кирилл Никитин
                      .doctor-specialist Терапевт
                      .doctor-status Врач высшей категории
                    li.to-right
                      button.btn.btn-success.btn-primary выбрать время
                    li.to-right
                      .doctor-time 15:00
                    li.to-right
                      .doctor-tickets 14 талонов
                      .doctor-from_date 12 июня 2016
                      .doctor-ticketsoff нет талонов

                li.registration-form
                  .registration-form_block.registration-form_block-date
                    .registration-form_block-title Доступные дни приёма

                    .datepicker

                    .registration-form_agenda
                      .agenda-block.agenda-block__picked Выбранный день
                      .agenda-block.agenda-block__availible Дни Приёма
                      .agenda-block.agenda-block__weekend Нерабочие дни
                      .agenda-block.agenda-block__today Сегодня

                  .registration-form_block.registration-form_block-time
                    .registration-form_block-title Доступное время приёма
                    .registration-form_timedesk
                      ul.timedesk
                        li.doctor-time.timedesk_item-picked 14:00
                        li.doctor-time 15:00
                        li.doctor-time 16:00
                        li.doctor-time 17:00
                        li.doctor-time.timedesk_item-disabled 18:00
                      ul.timedesk
                        li.doctor-time 20:00
                        li.doctor-time 21:00
                    .registration-form_final
                      .little-text Выбрано
                      .registration-form_final-item.registration-form_final-time 14:00,
                      .registration-form_final-item.registration-form_final-date 12 июн 2016
                      button.btn.btn-md.btn-success.btn-primary Подтвердить


                li
                  ul.doctor-item.ticketsoff
                    li.to-left.doctor-pic
                    li.to-left
                      .doctor-name Кирилл Никитин
                      .doctor-specialist Терапевт
                      .doctor-status Врач высшей категории
                    li.to-right
                      button.btn.btn-success.btn-primary выбрать время
                    li.to-right
                      .doctor-time 15:00
                    li.to-right
                      .doctor-tickets 14 талонов
                      .doctor-from_date с 12 июня 2016
                      .doctor-ticketsoff Нет талонов

    .hero-result.hero-result2
      .hero-form
        .container
          ul.input-group.input-group2
            li
              input.doctor-ticket(placeholder="АБ-0000-ВГ")

            li
              .little-text Ваше направление в:
              .doctor-ticket_adress Санкт-Петербург, Городская Поликлиника № 22, ул. Ленина, 21

      .hero-doctor-choose
        .container
          ul.menu-list
            li
              h5 Специализация врача
            li.menu-list_item.is-active Терапевт

          ul.doctors-item-list
            li
              h5 Выберите дату и время
            li
              ul.doctor-item-list.col.col-md8
                li
                  ul.doctor-item
                    li.to-left.doctor-pic
                    li.to-left
                      .doctor-name Кирилл Никитин
                      .doctor-specialist Терапевт
                      .doctor-status Врач высшей категории
                    li.to-right
                      button.btn.btn-primary выбрать время
                    li.to-right
                      .doctor-time 15:00
                    li.to-right
                      .doctor-tickets 14 талонов
                      .doctor-from_date 12 июня 2016
                      .doctor-ticketsoff нет талонов

                li.registration-form
                  .registration-form_block.registration-form_block-date
                    .registration-form_block-title Доступные дни приёма

                    .datepicker

                    .registration-form_agenda
                      .agenda-block.agenda-block__picked Выбранный день
                      .agenda-block.agenda-block__availible Дни Приёма
                      .agenda-block.agenda-block__weekend Нерабочие дни
                      .agenda-block.agenda-block__today Сегодня

                  .registration-form_block.registration-form_block-time
                    .registration-form_block-title Доступное время приёма
                    .registration-form_timedesk
                      ul.timedesk
                        li.doctor-time.timedesk_item-picked 14:00
                        li.doctor-time 15:00
                        li.doctor-time 16:00
                        li.doctor-time 17:00
                        li.doctor-time.timedesk_item-disabled 18:00
                      ul.timedesk
                        li.doctor-time 20:00
                        li.doctor-time 21:00
                    .registration-form_final
                      .little-text Выбрано
                      .registration-form_final-item.registration-form_final-time 14:00,
                      .registration-form_final-item.registration-form_final-date 12 июн 2016
                      button.btn.btn-md.btn-success.btn-primary Подтвердить

    .hero-result.hero-result3
      .hero-form
        .container
          ul.input-group.input-group3
            li
              .dropdown
                button.btn.btn-lg.dropdown-toggle.dropdown__client.btn-left Дмитрий Иванов
            li
              .dropdown
                button.btn.btn-lg.dropdown-toggle.dropdown__datepicker.btn-right 01 сен 1990
                ul.dropdown-menu.dropdown-menu__datepicker.is-hidden
                  li
                    .datepicker
                  li
                    button.btn.btn-success.btn-primary Выбрать
            li
              .dropdown
                button.btn.btn-lg.dropdown-toggle.dropdown__region.main Курортрный

            li.to-right
              button.btn.btn-primary.btn-lg.to-right.disabled Выбрать время
      .hero-doctor-choose
        .container
          ul.menu-list
            li
              h5 Выберите тип
            li.menu-list_item.is-active Мои записи
            li.menu-list_item Мои направления

          ul.doctors-item-list
            li
              h5 Вы записаны к:
            li
              ul.doctor-item-list.col.col-md8
                li
                  ul.doctor-item
                    li.to-left.doctor-pic
                    li.to-left
                      .doctor-name Кирилл Никитин
                      .doctor-specialist Терапевт
                      .doctor-status Врач высшей категории
                    li.to-right
                      button.btn.btn-primary отменить
                    li.to-right
                      .doctor-time 15:00
                    li.to-right
                      .doctor-tickets 14 талонов
                      .doctor-from_date 12 июня 2016
                      .doctor-ticketsoff нет талонов

                li
                  ul.doctor-item
                    li.to-left.doctor-pic
                    li.to-left
                      .doctor-name Кирилл Никитин
                      .doctor-specialist Терапевт
                      .doctor-status Врач высшей категории
                    li.to-right
                      button.btn.btn-primary отменить
                    li.to-right
                      .doctor-time 15:00
                    li.to-right
                      .doctor-tickets 14 талонов
                      .doctor-from_date с 12 июня 2016
                      .doctor-ticketsoff Нет талонов


    .footer
      .container
        .footer-brand
        .footer-list
          ul 
            li 
              p О проекте
            li 
              a(href="#") О проекте
            li 
              a(href="#") Команда
          ul
            li
              p Пользователи
            li
              a(href="#") Как это работает?
            li
              a(href="#") Правовая информация
            li
              a(href="#") Вопрос - Ответ

          ul
            li
              p Контакты
            li
              a(href="#") Обратная связь
            li
              a(href="#") Адреса и телефоны
            li
              a(href="#") ВКонтакте
            li
              a(href="#") Facebook
            li
              a(href="#") Одноклассники

          ul
            li.phone
              .little-text Телефон в Санкт-Петербурге:
              h2 +7 (812) 426-17-27
            li.phone
              .little-text Телефон по России:
              h2 8 800 426-17-27
            li.phone
              .little-text Телефон скорой помощи:
              h2 03 или 103 (моб.)


          ul
            li
              p Пресс-центр
            li
              a(href="#") СМИ о нас

          ul
            li
              p Медучреждения
            li
              a(href="#") Стать партнером
            li
              a(href="#") Правовая информация




        .footer-underline
        a.footer-studio(href="http://oniverse.co/") Дизайн от ONIVERSE
        .footer-phone Все права защищены. 2016

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js')
    script(src='../assets/baron.min.js')
    script(src='../assets/script.js')