doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="assets/main.css")
  body
    
    .hero
      .header
        .container
          ul
            li
              a.header_brand(href="localhost:8080")
              .header_city
                .header_city-logo
                a.link-dashed.header_city-name(href="#") Санкт-Петербург
            li.header_btn
              a(href="#") Медучреждения
            li.header_btn
              a(href="#") Врачи
            li
              .header_info-text 24ч  Запись, помощь, справка:
              .header_phone +7 (812) 426-17-27
      .hero-form.hero-form_faq
        .container
          ul.nav-tabs.faq-nav-tabs
            li.is-active Помощь
            li Команда
            li Пресса о нас
            li Миссия

      .hero-faq-list
        .container
          ul.menu-list
            li.menu-list_item.is-active C чего начать?
            li.menu-list_item Ошибки и проблемы
            li.menu-list_item Прикрепление к поликлинике
            li.menu-list_item Личный кабинет
            li.menu-list_item СМС-оповещение
            li.menu-list_item Полис ОМС
            li.menu-list_item Запись к врачу
            li.menu-list_item Врачи
            li.menu-list_item Отмена/перенос записи
            li.menu-list_item Мобильное приложение
            li.menu-list_item Куда обращаться

          ul.faq-result
            li.faq-result_item.col.col-md4.faq-result_item__to-doc
              img(src="../assets/faq_to_doc.png")
              .faq-result_title Запись к врачу
              .faq-result_desc 
                | Запись в государственные 
                br
                |и частные мед.учреждения.
              button.btn.btn-primary Перейти

            li.faq-result_item.col.col-md4.faq-result_item__personal
              img(src="../assets/faq_personal.png")
              .faq-result_title Личное здоровье
              .faq-result_desc 
                | Запись в государственные 
                br
                |и частные мед.учреждения.
              button.btn.btn-primary Перейти

            li.faq-result_item.col.col-md4.faq-result_item__to-house
              img(src="../assets/faq_to_house.png")
              .faq-result_title Вызов врача на дом
              .faq-result_desc 
                | Запись в государственные 
                br
                |и частные мед.учреждения.
              button.btn.btn-primary Перейти

            li.faq-result_item.col.col-md4.faq-result_item__diagnos
              img(src="../assets/faq_diagnos.png")
              .faq-result_title Запись на диагностику
              .faq-result_desc 
                | Запись в государственные 
                br
                |и частные мед.учреждения.
              button.btn.btn-primary Перейти

            li.faq-result_item.col.col-md4.faq-result_item__family
              img(src="../assets/faq_family.png")
              .faq-result_title Семейный врач
              .faq-result_desc 
                | Запись в государственные 
                br
                |и частные мед.учреждения.
              button.btn.btn-primary Перейти

            li.faq-result_item.col.col-md4.faq-result_item__mama
              img(src="../assets/faq_mama.png")
              .faq-result_title Будущим мамам
              .faq-result_desc 
                | Запись в государственные 
                br
                |и частные мед.учреждения.
              button.btn.btn-primary Перейти

