doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="assets/main.css")
  body
    .container.white
      .popup-choose
        ul.menu-list.mini
          li.is-active 
            a Поликлиники
          li 
            a Детские поликлиники
          li 
            a Женские консультации
          li 
            a Стоматологические
          li 
            a Больницы
          li 
            a Диспансеры

        ul.choose-list
          li.col.col-md4 
            .bold Городская поликлиника №104
            p ул. Сикейроса, д. 10
          li.col.col-md4 
            .bold Городская поликлиника №104
            p ул. Сикейроса, д. 10
          li.col.col-md4 
            .bold Городская поликлиника №104
            p ул. Сикейроса, д. 10
          li.col.col-md4 
            .bold Городская поликлиника №104
            p ул. Сикейроса, д. 10
          li.col.col-md4 
            .bold Городская поликлиника №104
            p ул. Сикейроса, д. 10
          li.col.col-md4 
            .bold Городская поликлиника №104
            p ул. Сикейроса, д. 10
        .exit
